.TrangChu p{
    line-height: 500px;
    text-align: center;
    font-size: 100px;
    color: red;
}
.TrangChu{
    background-image: url(/LostDragonBall/TrangChu.jpg);
    background-size: cover;
    background-position: center;
}
h1{
    font-size: 50px;
    text-align: center;
}
table,tr,td,th{
    border: 1px solid;
}
.skill{
    padding: 0px 200px 0px 480px; 
    line-height: 20px;
    margin-top: 20px;
}
table{
    width: 1000px;
}
@media (max-width: 768px) {
    .TrangChu p {
        font-size: 18px;
    }
    h1 {
        font-size: 32px;
    }
    .skill {
        padding: 0 10px;
    }
    table {
        width: 100%;
        padding: 0;
        line-height: 1;
    }
    nav .facebook li a img {
        width: 15px;
        height: 15px;
    }
}



